{% set calendar_name = calendar_name|default('opening') %}
{% set calendar = quando[calendar_name] %}
{% set schedules = calendar.schedulesWeek(date()) %}
{% set timetable = calendar.getTimetable() %}
{% set labels = calendar.getMeta('labels') %}

<!-- googleoff: index -->
<table class="hours calendar">
	<thead>
		<tr>
			<th scope="col">Day</th>
			<th scope="col">Hours</th>
		</tr>
	</thead>
	<tbody>

	{% import 'partials/current_status.html.twig' as transforms %}

	{% for schedule in schedules %}

		{% set title = NULL %}
		{% set classes = [] %}

		{% if schedule.day == date() %}
			{% set title = 'PLUGIN_QUANDO.TODAY'|t|raw|capitalize %}
			{% set classes = classes|merge( ['current'] ) %}
			{% set classes = classes|merge( calendar.isAvailable ? ['open','on','started'] : ['closed','off','stopped'] ) %}
		{% endif %}

		{% set attr_title = ( title is null ? '' : ' title="' ~ title ~ '"' ) %}
		{% set attr_class = ( classes is empty ? '' : ' class="' ~ classes|join(' ')|trim ~ '"' ) %}

		{% set off_text = ( labels.off ?: 'PLUGIN_QUANDO.SERVICE_OFF' )|t|raw %}
		{% set windows_text = ( schedule.windows is empty ? off_text : transforms.niceWindows(calendar.formatSchedule(schedule.windows, 'g.ia', ['.i'])) ) %}

		<tr{{ attr_title }}{{ attr_class }}>
			<th scope="row">{{ schedule.day|date('M j, D') }}</th>  {# FIXME: string need internationalising #}
			<td>{{ windows_text }}</td>
		</tr>

	{% endfor %}

	</tbody>
</table>
<!-- googleon: index -->

{# TODO: pager to flick through dates until we hit completed_until #}
